<p id="notice"><%= notice %></p>

<h1>Jackpot Real Times</h1>

<table>
  <thead>
    <tr>
      <th>Data</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jackpot_real_times.each do |jackpot_real_time| %>
      <tr>
        <td><%= jackpot_real_time.data %></td>
        <td><%= link_to 'Show', jackpot_real_time %></td>
        <td><%= link_to 'Edit', edit_jackpot_real_time_path(jackpot_real_time) %></td>
        <td><%= link_to 'Destroy', jackpot_real_time, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Jackpot Real Time', new_jackpot_real_time_path %>
