<%= form_with(model: role, local: true) do |form| %>
  <div class="row">
    <% if role.errors.any? %>
      <div class="col-md-12" id="error_explanation">
        <h4>Có <%= pluralize(role.errors.count, "error") %> errors:</h4>

        <ul>
          <% role.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>

  <div class="row">
    <!-- left column -->
    <div class="col-md-12">
      <!-- general form elements -->
      <div class="card card-secondary">
        <div class="card-header">
          <h3 class="card-title">Information</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <div class="form-row">
            <div class="form-group col-sm-3">
              <label><%= t('action') %>:</label>
              <%= form.select :action, options_for_select(@actions, @role.action), {}, {class: "form-control"} %>
            </div>
            <div class="form-group col-sm-3">
              <label><%= t('resource') %>:</label>
              <%= form.select :resource, options_for_select(@resources, @role.resource), {}, {class: "form-control"} %>
            </div>
            <div class="form-group col-sm-6">
              <label><%= t('description') %>:</label>
              
              <%= form.text_area :description, class: 'gender-item' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <%= link_to 'Back', 'javascript:void(0);', onclick: "window.history.back(); setTimeout(function(){window.location.reload();}, 100);", class: "btn btn-secondary" %>      <input class="btn btn-success float-right" name="btnSubmit" data-disable-with="Processing..." type="submit" value="Save" />
      <%# <button type="submit" class="btn btn-success float-right" id="btnSubmit">Save</button> %>
    </div>
  </div>
<% end %>
