<%= form_with(model: driver, local: true) do |form| %>
  <div class="row">
    <% if driver.errors.any? %>
      <div class="col-md-12" id="error_explanation">
        <h4>Có <%= pluralize(driver.errors.count, "error" ) %> errors:</h4>

        <ul>
          <% driver.errors.full_messages.each do |message| %>
            <li>
              <%= message %>
            </li>
            <% end %>
        </ul>
      </div>
      <% end %>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card card-secondary">
        <div class="card-header">
          <h3 class="card-title">Information</h3>
        </div>
        <div class="card-body">

          <div class="form-row">
            <div class="form-group col-sm-4">
              <label>
                <%= t('name') %>:
              </label>
              <%= form.text_field :name, class: "form-control", required: true %>
            </div>
            <div class="form-group col-sm-4">
              <label>
                <%= t('nickname') %>:
              </label>
              <%= form.text_field :nickname, class: "form-control", required: true %>
            </div>
            <div class="form-group col-sm-4">
              <label>
                <%= t('date_of_birth') %>:
              </label>
              <%= form.date_field :date_of_birth, class: "form-control" %>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-sm-4">
              <label>
                <%= t('phone') %>:
              </label>
              <%= form.text_field :phone, class: "form-control", required: true %>
            </div>
            <div class="form-group col-sm-4">
              <label>
                <%= t('position') %>:
              </label>
              <%= form.text_field :position, class: "form-control" %>
            </div>
            <div class="form-group col-sm-4">
              <label><%= t('gender') %>:</label>
              <div class="gender-item">
                <%= form.radio_button :gender, true %>Male
                <%= form.radio_button :gender, false %> Female
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <%= link_to 'Back', 'javascript:void(0);', onclick: "window.history.back(); setTimeout(function(){window.location.reload();}, 100);", class: "btn btn-secondary" %>      
      <input class="btn btn-success float-right" name="btnSubmit" data-disable-with="Processing..." type="submit" value="Save" />
        <%# <button type="submit" class="btn btn-success float-right" id="btnSubmit">Save</button> %>
    </div>
  </div>
  <% end %>
